/*** Importing fonts ***
### Obtained from Google Fonts, at:
### https://fonts.google.com

#################################*/

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/*** RESPONSIVITY - SCREEN HEIGHT ***/
@media screen and (min-height: 900px) {
	div.app-container {
		height: 135vh;
	}
}

@media screen and (max-height: 900px) and (min-height: 800px) {
	div.app-container {
		height: 145vh;
	}
}

@media screen and (max-height: 800px) and (min-height: 700px) {
	div.app-container {
		height: 170vh;
	}
}

/*** RESPONSIVITY - SCREEN WIDTH ***/
@media screen and (min-width: 740px) {
	div.app-container {
		width: 100vw;
	}

	div.topbar-container {
		width: 100vw;
	}

	div.bottombar-container {
		width: 100vw;
	}

	div.bottombar-container .orderBtn {
		width: 38%;
	}

	section .title {
		display: flex;
		justify-content: center;
		width: 100vw;
	}
	
	div.cards {
		display: flex;
		justify-content: center;
	}

	::-webkit-scrollbar {
		width: 0;
	}
}

@media screen and (min-width: 415px) and (max-width: 740px) {
	div.app-container {
		width: 100vw;
	}

	div.topbar-container {
		width: 100vw;
	}

	div.bottombar-container {
		width: 100vw;
	}

	div.bottombar-container .orderBtn {
		width: 85%;
	}

	section .title {
		display: flex;
		justify-content: center;
		width: 100vw;
	}
	
	div.cards {
		display: flex;
	}

	::-webkit-scrollbar {
		width: 0;
	}
}

@media screen and (max-width: 414px) and (min-width: 255px) {

	div.topbar-container {
		width: 100vw;
	}

	div.app-container {
		width: 100vw;
	}

	div.bottombar-container {
		width: 100vw;
	}

	div.order-confirmation-screen #order-description-screen {
		height: 35vh;
		width: 35vh;
	}

}

@media screen and (max-width: 255px) {
	div.app-container {
		width: 100vw;
	}

	div.topbar-container h1 {
		font-size: 12vmin;
	}

	div.topbar-container p {
		font-size: 7vmin;
	}

	section .title {
		font-size: 8vmin;
	}

	div.card {
		height: 80%;
	}

	div.bottombar-container {
		width: 100vw;
	}
}


/*** CSS Reset ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 414px;
    height: calc(100vh + 600px);
    margin: 0 auto;
    background-color: #EEEEEE;
}

/*** Topbar styles ***/
.topbar-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #CF2B2B;
    height: 92px;
    width: 414px;
    top: 0;
    margin-top: 0;
    padding-left: 21px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

/*** Principal section styles ***/
h1 {
    font-family: 'Righteous', Sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 44px;
    line-height: 54.63px;
}

p {
    font-family: 'Roboto', Sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.09px;
}

/*** PRINCIPAL ***/
.food {
    top: 130px;
    padding: 0;
    margin-top: 0;
}

.food-cards {
    display: flex;
    height: 100%;
    position: absolute;
}

.food-card {
    display: flex;
    flex-direction: column;
    width: 172px;
    height: 100%;
    margin-left: 10px;
}

#pao-com-ovo-image {
    width: 144px;
    height: 87px;
    background: url("../img/foods/pao-com-ovo.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#cuscuz-image {
    width: 144px;
    height: 87px;
    background: url("../img/foods/cuscuz.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#beiju-image {
    width: 144px;
    height: 87px;
    background: url("../img/foods/beiju.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#figado-com-jilo-image {
    width: 144px;
    height: 87px;
    background: url("../img/foods/figado-com-jilo.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.drink-cards {
    display: flex;
    height: 100%;
    position: absolute;
}

.drink-card {
    margin-left: 10px;
    width: 172px;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.dessert-cards {
    display: flex;
    height: 100%;
    position: absolute;
}

.dessert-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 172px;
    margin-left: 10px;
}

section {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 130px;
    //padding-top: 30px;
    margin-top: 30px;
    height: 300px;
    overflow-Y: hidden;
    overflow-X: scroll;
}

::-webkit-scrollbar {
	//width: 0;
}

.cards {
    height: 100%;
    position: relative;
}

.card {
    font-family: 'Roboto';
    justify-content: space-evenly;
    padding-left: 15px;
    background-color: #FFFFFF;
    border: 3px solid white;
    height: 100%;
}

section .selected {
    border: 3px solid lime;
}

.card span:nth-child(2) {
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
}

.card span:nth-child(3),
.card span:nth-child(4) {
    font-size: 15px;
    font-weight: 300;
    color: #A6A6A6;
}

.card span:nth-child(5) {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
}

.image {
    align-self: center;
    margin-right: 15px;
}

.title {
    position: sticky;
    width: 100%;
    font-size: 25px;
    left: 10px;
    font-family: 'Righteous';
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-right: -10px;
}

#jao-laranja-image {
    width: 144px;
    height: 87px;
    background: url("../img/drinks/jao-laranja.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#suco-beterraba-image {
    width: 144px;
    height: 87px;
    background: url("../img/drinks/suco-beterraba.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#detox-berinjela-image {
    width: 144px;
    height: 87px;
    background: url("../img/drinks/detox-berinjela.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#copo-agua-image {
    width: 144px;
    height: 87px;
    background: url("../img/drinks/copo-agua.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#banana-amassada-image {
    width: 144px;
    height: 87px;
    background: url("../img/desserts/banana-amassada.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#vitamina-abacate-image {
    width: 144px;
    height: 87px;
    background: url("../img/desserts/vitamina-abacate.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#mamao-com-acucar-image {
    width: 144px;
    height: 87px;
    background: url("../img/desserts/mamao-com-acucar.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#biscoito-com-nutela-image {
    width: 144px;
    height: 87px;
    background: url("../img/desserts/biscoito-com-nutela.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*** Bottom bar - Check-out ***/
.bottombar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    width: 414px;
    background-color: rgb(6, 99, 29);
    position: fixed;
    bottom: 0;
    background-color: #fff;
}

.orderBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 70%;
    border-radius: 40px;
    border: none;
    background-color: #CBCBCB;
    box-shadow: 0px 1px 3px #000;
}

button.complete {
	background-color: green;
}





/*****************************************
	Confirmation Order Screen
*****************************************/

.order-confirmation-screen {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.order-confirmation-screen:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #eee;
	opacity: .9;
	transition: all .8s;
}

#order-description-screen {
	background-color: green;
	height: 30vw;
	width: 30vw;
	display: flex;
	z-index: 3;
}
